.panel {
  &.login {
    box-shadow: 0 0 5px 0 $main-border;
    padding: 60px;

    & .logo {
      padding: 20px 0 30px 0;
      text-align: center;
      & > img {
        width: 60px;
        height: 60px;
      }
    }

    & .register {
      text-align: center;
      color: $main-font-color;
      padding: 40px 0 0 0;
      font-weight: 300;
    }

    & .form-element {
      padding: 10px 0;
      & label {
        font-size: $small-text;
      }
    }

    & .account-inactive {
      background-color: #f9d796;
      border: 1px solid #e89f0d;
      padding: 0 20px;
      margin-bottom: 30px;
      border-radius: 3px;
      font-size: $small-text;
    }

    & .login-form {
      margin-top: 130px;
    }

  }
}