.panel {
  &.register {
    box-shadow: 0 0 5px 0 $main-border;
    padding: 60px;

    & .logo {
      padding: 20px 0 80px 0;
      text-align: center;
      & > img {
        width: 60px;
        height: 60px;
      }
    }

    & .login {
      text-align: center;
      color: $main-font-color;
      padding: 40px 0 0 0;
      font-weight: 300;
    }

    & .form-element {
      padding: 10px 0;
    }
  }
}