.panel {

  &.internship-create {
    padding: 40px 10px;
  }

  & .internship-form {
    & .form-element {

      & .columns {
        margin-left: 0;
      }

      &.joined-elements {
        & .joined-left {
          border-top-right-radius: 0;
          -webkit-border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          -webkit-border-bottom-right-radius: 0;
          margin: 0;
          width: 50%;
        }

        & .joined-right {
          border-top-left-radius: 0;
          -webkit-border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          -webkit-border-bottom-left-radius: 0;
          margin: 0;
          margin-left: -1px;
          width: 50%;
        }
      }

      & .custom-checkbox {
        margin-top: 12px;
        margin-left: 28px;

        & > label {
          font-weight: 300;
        }
      }
    }

    & .food {
      margin-top: 20px;

      & .custom-checkbox {
        & label {
          font-weight: 300;
        }
      }
    }

    & .submit {
      margin-top: 20px;
    }

    & .foodCheckboxes {
      padding-top: 40px;
    }
  }
}