.internships {
  border-top: 1px solid $main-border;
  overflow: hidden;
  max-height: none;

  &:last-child {
    border-bottom: none;
  }

  & .internship-item {
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid $main-border;
    color: $main-nav-text;

    &.active {
      border-left: 3px solid $company-nav-active;
    }
  }
}