.panel {
  & .meta {
    & .options {
      & [class^="icon-"] {
        margin-left: 20px;
        color: $company-nav;
        font-weight: 300;

        &:hover {
          color: $company-nav-active;
        }
      }

      & .icon-seen {

        & .tooltip {
          font-family: 'Roboto';
          font-size: $small-text;
          display: none;
          position: absolute;
          background: $list-title;
          color: $main-background;
          @include border-radius($border-radius);
          padding: 5px;
          right: 0;
          margin-top: 10px;

          &:before {
            content: '';
            transform: rotate(45deg);
            width: 12px;
            height: 12px;
            background-color: $list-title;
            position: absolute;
            right: 10px;
            top: -5px;
          }
        }
        &:hover {
          & .tooltip {
            display: block;
          }
        }
      }
    }
  }
}