.nav-options {
  margin-bottom: 20px;

  & .option-item {
    padding: 12px;
    padding-left: 0;
    margin: 0;
    & a {
      color: $company-nav;

      &.active {
        color: $company-nav-active;
      }

      &:hover {
        color: $company-nav-active;
      }
    }
  }
}