.cover-image {
  margin-top: -20px;
  width: 100% !important;
  position: relative;
  & div {
    width: 100%;
    height: 330px;
    background-size: cover !important;
  }

  & .cover-blackbox {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
  }
}

.company-panel {
  margin-top: 25px;
}

.panel {
  & .company-logo {
    width: 150px;
    height: 150px;
    margin-top: -91px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    background: white;
    border-top: 1px solid $main-border;
    border-right: 1px solid $main-border;
    transform: rotate(-45deg);

    &.edit-logo {
      width: 80px;
      height: 80px;
      margin: 0;
      border: 2px dashed $main-border;
      padding: 3px;

      & #logo-drop-zone {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        & .icon-images {
          position: absolute;
          width: 100%;
          height: 100%;
          transform: rotate(45deg);
          padding: 20px;
          font-size: 30px;
          text-align: center;
          color: white;
        }

        & #logo-edit {
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }

    & img {
      margin: 0 auto;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      transform: rotate(45deg);
    }

    &.edit {
      & img {
        margin: 0 auto;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);

        border: 2px solid $main-border;
        padding: 3px;
      }
    }
  }

  &.content {
    margin-top: 25px;
    margin-left: 2%;
    //padding: 0 0 20px 0;
    padding: 0;
    overflow: hidden;

    & .main-content {
      max-width: 500px;
      box-sizing: content-box;
      margin: 100px auto;
      float: none;
      .tab-wrapper {
        width: 100%;
        display: none;
      }
      #tab1 {
        //display: block;
      }

      &.attachments,
      &.feedback,
      &.internships,
      &.offices,
      &.settings {
        padding: 30px;
      }

      &.internships {
        & .create {
          margin-bottom: 20px;
        }
      }

      &.faqs {
        padding: 60px 30px 30px 30px;
      }
      &.about {
        padding: 90px 120px 90px 120px;
        text-align: justify;
        color: $faq-answer-color;

      }
      &.about-edit {
        padding: 100px 250px;

        & textarea.about {
          height: 100px;
        }
      }

      & ul.internship-description {
        padding: 0;
        padding-left: 18px;
      }

      & .internship-description,
      & .about,
      & #team-description,
      & .attachment-description{
        color: $internship-description-color;
        font-size: $small-text;
        font-weight: 300;
        line-height: 1.7em;
      }

      & .internship-title,
      & .attachment-title {
        color: $internship-title-color;
        font-size: $text-size;
        font-weight: 700;
        //line-height: 1.7em;
      }
      & hr {
        margin: 50px -50%;
        border: 0;
        border-top: 1px solid $main-border;
      }
      & .offices .office-img {
        display: inline-block;
        max-width: 140px;
        max-height: 120px;
        width: auto !important;
        float: none;
        box-sizing: border-box;
        vertical-align: middle;
        margin: 10px;
        border-radius: 8px;
        height: auto;
        width: auto;
      }
      & #big-image {
        text-align: center;
        height: 500px;
      }
      & .office-img-big {
        display: none;
        line-height: 500px;
        .office-img {
          margin: 0;
          max-width: 100%;
          max-height: 500px;
        }
        &.active {
          display: block;
        }

      }
      .slick-dots li button::before,
      .slick-prev::before,
      .slick-next::before {
        color: black;
      }
      & .attachment-title {
        margin: 0 0 .5em;
      }
      & .attachment-description {
        line-height: 1.5em;
      }
      & .meta-info {
        display: table;
        width: 100%;
        margin-top: 100px;

        & .meta-item {
          display: table-cell;
          text-align: center;
          color: $main-font-color;
          width: 25%;

          & .meta-icon {
            font-size: 38px;
            font-weight: 400;
          }

          & .meta-value {
            padding-top: 20px;
          }
        }
      }

      & .buttons {
        margin-top: 100px;
        height: 50px;
        &.mail {

        }
      }
    }

    & .full-width-tabs {

      & > ul {
        &.nav {
          &.nav-tabs {
            display: table;
            width: 100%;
            margin: 0;

            & > li {
              float: none;
              display: table-cell;

              & > a {
                color: $internship-tab-color;
                font-weight: 600;
                text-align: center;
                border: none;
                padding: 13px 20px;
                border-bottom: 2px solid $main-secondary-font-color;
                background-color: transparent;
                margin: 0;

                &:hover {
                  margin: 0;
                  color: $internship-tab-color-active;
                  background-color: #fff;
                  //border-bottom: 2px solid $internship-tab-color-active;
                }
              }

              &.active {
                & > a {
                  color: $internship-tab-color-active;
                  cursor: default;
                  background-color: #fff;
                  border-bottom: 2px solid $internship-tab-color-active;
                  //border-bottom-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }

  & .company-info {
    text-align: center;

    & .company-name {
      font-weight: 700;
      font-size: $company-name;
    }

    & .company-address {
      font-weight: 300;
      font-size: $small-text;
      color: $main-font-color;
    }
  }

  &.meta-panel {
    color: $main-font-color;
    padding: 10px 0;
    font-size: $small-text;

    & .meta-item {
      padding: 10px 15px;

      & .meta-title {
        font-weight: 300;
      }

      & .meta-value {
        font-weight: 400;
      }
    }
  }

}

.logo-button {
  margin: 16px 0 32px 20px;
}