#attachment-drop-zone {
  height: 44px;
  border: 1px dashed $main-border;
  border-radius: 9px;
  position: relative;
  margin-left: 0;
  margin-bottom: 2em;

  &.dragenter {
    border: 1px solid $company-nav-active;

  }

  & .icon-images {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: $company-nav-active;

    & span {
      font-family: 'Open Sans', sans-serif;;
      margin-top: 18px;
      font-size: 18px;
    }
  }

  & input[type="file"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
  }
}

#images {
  & .dragged {
    display: none;
  }

  & .item-placeholder {
    border: 1px dashed $main-border;
    font-size: 30px;
    padding: 53px;
    text-align: center;
    color: $company-nav-active;
    margin: 0;
    height: 139px;
    border-radius: 9px;
  }

  & .office-img {
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    & .img-options {
      background-color: $list-title;
      color: $main-background;
      padding: 0 5px;
      position: absolute;
      top: 1px;
      left: 1px;
      display: none;

      & span {
        cursor: pointer;

        &:hover {
          color: $company-nav-active;
        }
      }
    }

    &:hover .img-options {
      display: block;
    }

    & img {
      width: 100%;
      border: 1px solid white;
      border-radius: 9px;
    }
  }
}
