.btn {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  padding: 14px 12px;
  font-size: $small-text;
  font-weight: 400;
  color: white;
  outline: none;
  border: 0;
  display: inline-block;
  box-shadow: $shadow;

  &.pull-left {
    margin-right: 20px;
  }

  &.pull-right {
    margin-left: 20px;
  }

  &.btn-info {
    background: $btn-blue-normal;
    //border: 1px solid $btn-blue-border;

    &.icon {
      padding-right: 20px;
      padding-left: 20px;
    }

    & [class^="icon-"].full {
      color: #43a6eb;
    }

    &:hover {
      transition: 0.2s;
      background: $btn-blue-hover;
    }
    &:active {
      transition: 0.3s;
      background: $btn-blue-clicked;
    }
  }

  &.btn-danger {
    background: $btn-red-normal;
    //border: 1px solid $btn-green-border;

    &.icon {
      padding-right: 20px;
      padding-left: 20px;
    }

    & [class^="icon-"].full {
      color: $btn-red-normal;
    }

    &:hover {
      transition: 0.2s;
      background: $btn-red-hover;
    }

    &:active {
      transition: 0.3s;
      background: $btn-red-clicked;
    }
  }

  &.btn-success {
    background: $btn-green-normal;
    //border: 1px solid $btn-green-border;

    &.icon {
      padding-right: 20px;
      padding-left: 20px;
    }

    & [class^="icon-"].full {
      color: #7bb934;
    }

    &:hover {
      transition: 0.2s;
      background: $btn-green-hover;
    }

    &:active {
      transition: 0.3s;
      background: $btn-green-clicked;
    }
  }

  &.btn-info,
  &.btn-success {
    & [class^="icon-"] {
      margin-right: 9px;
      font-size: 12px;

      &.full {
        background: white;
        padding: 5px;
        @include border-radius($border-radius);
      }
    }
  }
}