.custom-checkbox {
  .checkbox {
    padding: 0;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
    float: left;

    & + label {
      position: relative;
      padding-left: 30px;
      font-weight: 400;
      color: $main-font-color;
      cursor: pointer;
      display: inline-block;
      font-size: $text-size;
      @include user-select(none);
    }

    &:focus + label:after, &:checked:focus + label:after {
      border-color: darken($brand-primary, 5) !important;
    }

    & + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      z-index: 0;
      border: 1px solid #5a5a5a;
      border-radius: 1px;
      margin-top: 2px;
      transition: .2s;
    }

    &:not(:checked):disabled + label:before {
      border: none;
      background-color: rgba(0, 0, 0, 0.26);
    }

    &:checked + label:before {
      top: -4px;
      left: -3px;
      width: 12px;
      height: 22px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $brand-primary;
      border-bottom: 2px solid $brand-primary;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }

    &:checked:disabled + label:before {
      border-right: 2px solid rgba(0, 0, 0, 0.26);
      border-bottom: 2px solid rgba(0, 0, 0, 0.26);
    }

    &:indeterminate + label:before {
      left: -10px;
      top: -11px;
      width: 10px;
      height: 22px;
      border-top: none;
      border-left: none;
      border-right: 2px solid $brand-primary;
      border-bottom: none;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }

    &:indeterminate:disabled + label:before {
      border-right: 2px solid rgba(0, 0, 0, 0.26);
      background-color: transparent;
    }

    & + label:after {
      border-radius: 3px;
    }

    & + label:before,
    & + label:after {
      content: '';
      left: 0;
      position: absolute;
      /* .1s delay is for check animation */
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
    }

    &:not(:checked) + label:before {
      width: 0;
      height: 0;
      border: 3px solid transparent;
      left: 6px;
      top: 10px;
      -webkit-transform: rotateZ(37deg);
      transform: rotateZ(37deg);
      -webkit-transform-origin: 20% 40%;
      transform-origin: 100% 100%;
    }

    &:not(:checked) + label:after {
      height: 17px;
      width: 17px;
      background-color: white;
      border: 1px solid $main-border;
      top: 0px;
      z-index: 0;
    }

    &:checked + label:before {
      top: 0;
      left: 2px;
      width: 3px;
      height: 8px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotateZ(37deg);
      transform: rotateZ(37deg);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }

    &:checked + label:after {
      top: 0;
      width: 17px;
      height: 17px;
      border: 1px solid $brand-primary;
      background-color: $brand-primary;
      z-index: 0;
    }

    &:disabled:not(:checked) + label:before {
      background-color: transparent;
      border: 2px solid transparent;
    }

    &:disabled:not(:checked) + label:after {
      border-color: transparent;
      background-color: #BDBDBD;
    }

    &:disabled:checked + label:before {
      background-color: transparent;
    }

    &:disabled:checked + label:after {
      background-color: #BDBDBD;
      border-color: #BDBDBD;
    }
  }
}