#cover-drop-zone {
  height: 90%;
  width: 98%;
  position: absolute;
  top: 4%;
  left: 1%;
  border: 1px dashed $main-border;
  border-radius: 9px;
  margin-left: 0;

  &.dragenter {
    border: 1px solid $company-nav-active;

  }

  & .icon-images {
    font-size: 26px;
    text-align: center;
    padding: 95px 0;
    color: white;

    & div {
      font-family: 'Open Sans', sans-serif;
      margin-top: 18px;
      font-size: 18px;
    }
  }

  & input[type="file"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}

#images {
  & .office-img {
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    & .img-options {
      background-color: $list-title;
      color: $main-background;
      padding: 0 5px;
      position: absolute;
      top: 1px;
      left: 1px;
      display: none;

      & span {
        cursor: pointer;

        &:hover {
          color: $company-nav-active;
        }
      }
    }

    &:hover .img-options {
      display: block;
    }

    & img {
      width: 100%;
      border: 1px solid white;
      border-radius: 9px;
    }
  }
}
