.filter {
  &.filter-panel {
    height: 64px;
    background-color: #fff;
    @include border-radius(3px);
    padding: 22px 25px;

    & .icon {
      padding: 2px;
    }
  }
}

.filter-panel {
  overflow-y: scroll;
  max-height: 300px;
  box-shadow: 0 5px 10px 2px rgba(170, 170, 170,0.3);
  color: #bbcad2;
  font-size: $mid-text;

  &.scrollable {
    overflow: hidden;
  }

  &.categories {
    margin-top: 20px;
    overflow: hidden;
  }

  & .filter-checkbox {
    border-bottom: 1px solid #e9e9e9;
    padding: 19px 26px;

    & .custom-checkbox {
      & .checkbox:checked {
        & + label:before {
          width: 1px;
          height: 6px;
          top: 1px;
          left: 3px;
        }
      }

      & label {
        padding-left: 40px;
        margin: 0;
        font-size: $mid-text;
        color: $checkbox-text-color;

        &:after {
          //padding: 2px;
        }
      }
    }
  }
}