.form-element {
  font-weight: 300;
  //margin-left: 2%;

  input, select {
    border-radius: 3px;
    outline: none;
  }

  input.disabled:disabled,
  select.disabled:disabled {
    background-color: #BDBDBD;

    &:placeholder-shown {
      color: $main-background;
    }
    &:-ms-input-placeholder {
      color: $main-background;
    }
    &:-moz-placeholder {
      color: $main-background;
    }
    &::-moz-placeholder {
      color: $main-background;
    }
    &::-webkit-input-placeholder {
      color: $main-background;
    }
  }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 47px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    //border-radius: $border-radius;
    box-shadow: $shadow;
    font-size: $small-text;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
    height: 150px;
  }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid $form-focus;
    outline: 0;
  }

  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  fieldset {
    padding: 0;
    border-width: 0;
  }

  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem;
  }

  form {
    margin-bottom: 2.5rem;
  }

  span {
    &.select2 {
      margin-bottom: 24px;
    }
  }
}