#logo-drop-zone-form {
  padding: 14px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  #logo-drop-zone {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    transform: rotate(45deg);

    & .icon-images {
      text-align: center;
      font-size: 26px;
      padding: 32px;
      color: white;
    }

    & input[type="file"] {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
}

#logo-drop-zone {
  & input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}