.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  font-size: $small-text;
  font-weight: 300;

  & > li {
    position: relative;
    display: block;

    & > a {
      position: relative;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: $main-nav-text;
      font-weight: bold;
      border-bottom: 2px solid transparent;

      &.active {
        color: $company-nav-active;
        border-bottom-color: $company-nav-active;
      }

      &:hover,
      &:focus {
        color: $company-nav-active;
      }

      & > img {
        max-width: none;
      }
    }

    &.disabled > a {
      color: #999;

      &:hover,
      &:focus {
        color: #999;
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
      }
    }
  }

  & .open > a,
  & .open > a:hover,
  & .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
  }

  & .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}

.nav-tabs {

  & > li {
    float: left;
    margin-bottom: -1px;

    & > a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid transparent;
      border-bottom: 1px solid #ddd;
      @include border-radius(4px 4px 0 0);

      &:hover {
        border-color: #eee #eee #ddd;
      }
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      color: #555;
      cursor: default;
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
    }
  }
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;

  & > li {
    float: none;

    & > a {
      margin-bottom: 5px;
      text-align: center;
      margin-right: 0;
      @include border-radius(4px);
    }
  }

  & > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
    border: 1px solid #ddd;
  }
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified {

    & > li {
      display: table-cell;
      width: 1%;

      & > a {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified {

    & > li > a {
      border-bottom: 1px solid #ddd;
      @include border-radius(4px 4px 0 0);
    }

    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus {
      border-bottom-color: #fff;
    }
  }
}

.nav-pills {
  & > li {
    float: left;

    & > a {
      @include border-radius(4px);
    }

    & + li {
      margin-left: 2px;
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      color: #fff;
      background-color: #337ab7;
    }
  }
}

.nav-stacked {
  & > li {
    float: none;

    & + li {
      margin-top: 2px;
      margin-left: 0;
    }
  }
}

.nav-justified {
  width: 100%;

  & > li {
    float: none;

    & > a {
      margin-bottom: 5px;
      text-align: center;
    }
  }

  & > .dropdown {
    & .dropdown-menu {
      top: auto;
      left: auto;
    }
  }
}

@media (min-width: 768px) {
  .nav-justified {
    & > li {
      display: table-cell;
      width: 1%;

      & > a {
        margin-bottom: 0;
      }
    }
  }
}

.nav-tabs-justified {
  border-bottom: 0;

  & > li {
    & > a {
      margin-right: 0;
      @include border-radius(4px);
    }
  }

  .active {
    & > a,
    & > a:hover,
    & > a:active {
      border: 1px solid #ddd;
    }

  }
}

@media (min-width: 768px) {
  .nav-tabs-justified {
    & > li {
      & > a {
        border-bottom: 1px solid #ddd;
        @include border-radius(4px 4px 0 0);
      }
    }

    & > .active {
      & > a,
      & > a:hover,
      & > a:active {
        border-bottom-color: #fff;
      }
    }
  }
}

.tab-content {
  & > .tab-pane {
    display: none;
  }

  & > .active {
    display: block;
  }
}

.nav-tabs {
  .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.navbar-fixed-bottom {
  .dropdown {
    .caret {
      content: "";
      border-top: 0;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9
    ;
    }
  }
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .navbar-right {
    & .dropdown-menu {
      right: 0;
      left: auto;
    }

    & .dropdown-menu-left {
      right: auto;
      left: 0;
    }
  }
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid $main-border;
  background-color: $main-nav;

  & .container {
    width: 100%;
    max-width: 1200px;
    //  padding: 0 60px;
  }
}

@media (min-width: 768px) {
  .navbar {
    @include border-radius(4px);
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);

  &.in {
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

.container,
.container-fluid {
  & > .navbar-header,
  & > .navbar-collapse {
    //margin-right: -15px;
    //margin-left: -15px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-fluid {
    & > .navbar-header,
    & > .navbar-collapse {
      //margin-right: 0;
      //margin-left: 0;
    }
  }
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .navbar-static-top {
    @include border-radius(0);
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    @include border-radius(0);
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.navbar-brand {
  float: left;
  height: 55px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.navbar-brand {
  & > img {
    display: block;
    height: 26px;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  @include border-radius(4px);

  &:focus {
    outline: 0;
  }

  & .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    @include border-radius(1px);

    & + .icon-bar {
      margin-top: 4px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;

    & > li {
      float: left;

      & > a {
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;

  & .navbar-brand {
    color: #9d9d9d;

    &:hover,
    &:focus {
      color: #fff;
      background-color: transparent;
    }
  }

  & .navbar-text {
    color: #9d9d9d;
  }

  & .navbar-nav {
    height: 100%;
    & > li {
      & > a {
        color: $main-nav-text;

        &:hover,
        &:focus {
          color: #fff;
          background-color: transparent;
        }
      }
    }

    & > .active {
      & > a,
      & > a:hover,
      & > a:focus {
        color: #fff;
        background-color: #080808;
      }
    }

    & > .disabled {
      & > a,
      & > a:hover,
      & > a:focus {
        color: #444;
        background-color: transparent;
      }
    }

    & > .open {
      & > a,
      & > a:hover,
      & > a:focus {
        color: #fff;
        background-color: #080808;
      }
    }
  }

  & .navbar-toggle {
    border-color: #333;

    &:hover,
    &:focus {
      background-color: #333;
    }

    & .icon-bar {
      background-color: #fff;
    }
  }

  & .navbar-collapse,
  & .navbar-form {
    border-color: #101010;
  }
}

.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}