.filter {
  &.form-element {
    & .icon {
      &.icon-search,
      &.icon-pin {
        padding: 25px 28px;
      }
    }

    & .search-city,
    & .search-category {
      margin: 0;
    }

    & .search-category {
      margin-top: 20px;
    }

    & .search {
      height: 64px;
      border: none;
      padding: 6px 25px;
      box-shadow: 0 5px 10px 2px rgba(170, 170, 170,0.3);
      font-size: $mid-text;
      &:focus {
        border: 0;
      }
      &:placeholder-shown {
        color: #bbcad2;
        font-size: 15px;
      }
      &:-ms-input-placeholder {
        color: #bbcad2;
        font-size: 15px;
      }
      &:-moz-placeholder {
        color: #bbcad2;
        font-size: 15px;
      }
      &::-moz-placeholder {
        color: #bbcad2;
        font-size: 15px;
      }
      &::-webkit-input-placeholder {
        color: #bbcad2;
        font-size: 15px;
      }

    }
  }
}

