.select2 {
  &.select2-container--focus {
    & .select2-selection--multiple {
      border: 1px solid $form-focus;
    }
  }

  & .select2-selection {
    @include border-radius($border-radius);
    height: auto;
    border: 1px solid $main-border;

    & ul {
      & .select2-selection__choice {
        margin-top: 13px;
      }

      & .select2-search {
        & input {
          height: 44px;
          margin: 0;

          &.select2-search__field {
            &:focus {
              border: none;
              outline: none;
            }
          }
        }
      }
    }
  }
}