.onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;

  &:before,
  &:after {
    display: block;
    float: left;
    width: 50%;
    height: 18px;
    padding: 0;
    line-height: 20px;
    font-size: 10px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }

  &:before {
    content: "";
    padding-left: 5px;
    background-color: #7BB934;
    color: #FFFFFF;
  }

  &:after {
    content: "";
    padding-right: 5px;
    background-color: #F4F4F4;
    color: #F4F4F4;
    text-align: right;
  }
}

.onoffswitch-switch {
  display: block;
  width: 12px;
  height: 12px;
  margin: 3px;
  background: #FFFFFF;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 30px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox {
  display: none;

  &:checked {
    & + .onoffswitch-label {
      & .onoffswitch-inner {
        margin-left: 0;
      }

      & .onoffswitch-switch {
        right: 2px;
      }
    }
  }
}