.faqItem {
  margin: 2em 0;
  line-height: 1.4rem;
  font-weight: 300;
  text-align: justify;

  & a[id^='reply-'],
  & a[id^='report-'] {
    cursor: pointer;
  }

  & a[id^='report-'] {
    color: $brand-danger;
  }

  & .reply-form {
    display: none;
    margin-top: 20px;
  }
}

.faqQuestion {
  color: $internship-title-color;
  font-size: $small-text;
  font-weight: 600;
}

.faqAnswer {
  color: $internship-description-color;
  font-size: $small-text;
  margin-left: 50px;
}

.faqQuestionInput {
  margin-bottom: 2em;
}