.feedbackItem {
  //padding: 1rem 6rem;
  line-height: 1.4rem;
  //font-weight: 300;
  text-align: justify;

  & a[id^='reply-'],
  & a[id^='report-'] {
    cursor: pointer;
  }

  & a[id^='report-'] {
    color: $brand-danger;
  }

  & .reply-form {
    display: none;
    margin-top: 20px;
  }

  & .feedbackContent {
    color: $internship-description-color;
    font-size: $small-text;
    font-weight: 600;
    line-height: 1.7em;
    font-style: italic;
    margin: 1em 0;
    text-align: left;
    & p{
      position: relative;
      z-index: 2;
    }
  }
  & .feedbackContent:before {
    font-family: sans-serif;
    display: block;
    content: "\201C";
    font-size: 120px;
    position: relative;
    left: -30px;
    top: 60px;
    z-index: 1;
    color: #F4F4F4;
  }
  & .feedbackName {
    color: $internship-description-color;
    font-size: $small-text;
    font-weight: 600;
    position: relative;
    float: right;
    //padding-right: 40px;
    //padding-bottom: -0.5em;
  }

  & .feedbackReply {
    margin: 30px 0 30px 100px;
    color: $internship-description-color;
    font-size: $small-text;
    line-height: 1.7em;
    text-align: left;
  }

}
