$btn-blue-normal: #43a6eb;
$btn-blue-border: #3793d3;
$btn-blue-hover: #56afed;
$btn-blue-clicked: #3d9cdf;

//$btn-green-normal: #7bb934;
//$btn-green-border: #50a03f;
//$btn-green-hover: #8fc443;
//$btn-green-clicked: #7daa35;

$btn-green-normal: #a9cf3c;
//$btn-green-border: darken($btn-green-normal, 10%);
$btn-green-hover: lighten($btn-green-normal, 10%);
$btn-green-clicked: lighten($btn-green-normal, 5%);

$btn-red-normal: #f05050;
$btn-red-hover: lighten($btn-red-normal, 10%);
$btn-red-clicked: lighten($btn-red-normal, 5%);

$brand-success: #4dbd74;
$brand-danger: #f05050;
$brand-warning: #f4ba4a;
$brand-primary: #43a6eb;

$company-nav: #b1b1b1;
$company-nav-active: #55acdb;
$list-title: #7f8080;
$list-title-hover: #333333;
$placeholder: #abb4b7;
$form-focus: #43a6eb;

$main-font-color: #737284;
$main-secondary-font-color: #c5cbd0;
$main-background: #f4f4f4;
$main-nav: #ffffff;
$main-nav-text: #242626;
$main-border: #E1E8EC;
$checkbox-hover: #fafbfd;

$faq-question-color: #333333;
$faq-answer-color: #7f8080;

$checkbox-text-color: #bbcad2;

$internship-tab-color: #b1b1b1;
$internship-tab-color-active: #3fa7f3;
$internship-description-color: #7f8080;
$internship-title-color: #4d4d4d;