@font-face {
  font-family: 'icomoon';
  src: url('/build/fonts/icomoon.eot?j005t');
  src: url('/build/fonts/icomoon.eot?j005t#iefix') format('embedded-opentype'),
  url('/build/fonts/icomoon.ttf?j005t') format('truetype'),
  url('/build/fonts/icomoon.woff?j005t') format('woff'),
  url('/build/fonts/icomoon.svg?j005t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e913";
}
.icon-arrow-down:before {
  content: "\e909";
}
.icon-arrow-up:before {
  content: "\e90a";
}
.icon-bowl:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-dollar:before {
  content: "\e90e";
}
.icon-images:before {
  content: "\e90f";
}

.icon-pdf-2:before {
  content: "\e910";
}
.icon-person:before {
  content: "\e911";
}
.icon-watch:before {
  content: "\e912";
}
.icon-comment:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e901";
}

.icon-pdf-1:before {
  content: "\e902";
}
.icon-pen:before {
  content: "\e903";
}
.icon-pic:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-reply:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-seen:before {
  content: "\e908";
}
