html{
  font-size: 16px;
}

$small-text: 0.889rem; // ~14px
$mid-text: 0.95rem; // ~15px
$text-size: 1rem; // 16px
$company-name: 1.125rem; // 18px

h1 {
  font-size: $text-size;
  margin: 0;

  & a {
    text-decoration: none;
  }
}

h2 {
  font-size: $text-size;
  margin: 0;

  & a {
    text-decoration: none;
  }
}

h3 {
  font-size: $text-size;
  margin: 0;

  & a {
    text-decoration: none;
  }

  &.internship-title {
    font-size: $company-name;
  }
}

a {
  text-decoration: none;
  color: $company-nav-active;
}