// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "common/normalize";
@import "common/colors";
@import "common/mixins";
@import "common/variables";
@import "common/typography";
@import "common/icons";
// components
@import "components/grid";
@import "components/has-error";
//@import "components/icons";
@import "components/input";
@import "components/search-input";
@import "components/buttons";
@import "components/checkbox";
@import "components/navbar";
@import "components/panel";
@import "components/select2";
@import "components/switch";
@import "components/file-dropzone";
@import "components/logo-dropzone";
@import "components/cover-dropzone";
@import "components/attachment-dropzone";
@import "components/toastr";
@import "components/_filter-panel";
// pages
@import "pages/auth/login";
@import "pages/auth/register";
@import "pages/search/search";
@import "pages/internship/single";
@import "pages/internship/form";
@import "pages/internship/management";
@import "pages/internship/managementItem";
@import "pages/internship/internshipItem";
@import "pages/faq/faq";
@import "pages/feedback/feedback";
@import "pages/attachments/attachments";
@import "pages/settings/form";

* {
  box-sizing: border-box;
}

html {
  background-color: $main-background;
}

body {
  padding-bottom: 20px;
}

.main-container {
  //margin-top: 0;
  margin-top: 75px;
  width: 100%;
  //width: 90%;
  max-width: 1200px;
}