.content {
  & .form-element {

    & .column,
    & .columns {
      margin-left: 0;
      margin-right: 4%;

      &:last-child {
        margin-right: 0;
        float: right;
      }

      &:first-child {
        float: left;
      }
    }
    & #add-new {
      width: 100%;
      text-align: left;
      min-width: 180px;

      &:before {
        padding: 0 20px 0 4px;
        font-size: 12px;
      }
    }
    & #sort-picker {
      float: right;
      color: #bbcad2;
      background: white;
      margin-bottom: 26px;
      min-width: 180px;

      select {
        padding: 0 20px;
        border: 0;
        margin-bottom: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(/images/select-arrow.svg);
        background-size: 10px 6px;
        background-repeat: no-repeat;
        background-position: 86% 50%;
      }
    }
    & .search {
      background-color: transparent;
    }

  }
}

.inner-addon {
  position: relative;

  & span.icon {
    font-size: $small-text;
    position: absolute;
    padding: 15px 25px;
    pointer-events: none;
  }
}

.left-addon {
  & span.icon {
    color: $placeholder;
  }

  & .icon {
    left: 0px;
  }

  & input.icon {
    padding-left: 60px;
  }
}

.right-addon {
  & span.icon {
    color: $placeholder;
  }

  & .icon {
    right: 0px;
  }

  & input.icon {
    padding-right: 60px;
  }
}
.list-wrapper {
  a:first-child {
    div {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
  a:last-child{
    div {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.panel {
  padding: 20px 30px;

  &.item {
    //margin-bottom: 30px;
    clear: both;
    height: 100px;
    font-size: 14px;
    &:hover {
      box-shadow: 0 1px 5px 0 $main-border;
      background: #eef5fb;
    }

    .logo {
      margin-right: 30px;
      .logo-image {
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }
    }
  }

  & .header,
  & .meta {
    //padding: 5px;
  }

  & .header a,
  & .header span {
    color: $main-font-color;
    line-height: 2.1em;
    &.company {
      color: inherit;
      font-weight: 600;
    }
    &.company::after {
      content: ' objavljuje';
      color: $main-secondary-font-color;
      font-weight: 400;
    }
  }

  & .location {
    line-height: 4.2em;
    color: $main-secondary-font-color;
    opacity: .7;
    width: 170px;
    span {
      margin-left: 10px;
    }
  }

  &:hover {
    & > .header a,
    & > .header span {
      //color: $main-nav-text;
    }
  }

  & .meta {
    & .city {
      color: $btn-blue-normal;
      text-decoration: none;
    }

    & .category {
      color: $main-nav-text;
      font-weight: 300;
    }
  }
}

a {
  &:last-child {
    & .panel{
      &.item {
        margin-bottom: 0;
      }
    }
  }
}

.load-more {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 16px;
  background: $main-background;
  color: $main-font-color;
  border-radius: 50%;
  border: 2px solid $main-border;
  margin-top: 20px;
  cursor: pointer;

}