.panel {
  //border: 1px solid $main-border;
  box-shadow: 0 1px 5px 0 $main-border;
  //@include border-radius(2px);
  background-color: #fff;
  border-bottom: 1px solid $main-border;

  &.filter {
    padding: 15px 30px;
    border-bottom: none;

    &:last-child {
      border-top: none;
      border-bottom: 1px solid $main-border;
    }

    & .custom-checkbox {
      padding: 2px 0px;
    }
  }
}

.cutouts {
  height: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  .cut-out {
    border-radius: 1000px;
    width: 60%;
    height: 20px;
    display: block;
    position: absolute;
    background: $main-background;
    border: 1px solid $main-border;

    &.right {
      left: 60%;
      top: 0;
    }

    &.left {
      right: 60%;
      top: 0;
    }
  }
}