.attachment-item {
  margin: 15px 0;
  position: relative;

  & .columns:first-child,
  & .column:first-child {
    margin: 0;
  }

  & .attachment-image {
    width: 100%;
  }

  & .attachment-meta {
    color: $main-font-color;

    & .attachment-title {

    }

    & .attachment-description {

    }
  }

  & .pdf-back {

    & .icon-pdf-2 {
      width: 100%;
      height: auto;
      background: #777;
      color: red;
      font-size: 60px;
      text-align: center;
      padding: 70px;
    }
  }

  & .attachment-options {
    background-color: $list-title;
    color: $main-background;
    position: absolute;
    padding: 0 5px;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;

    & span {
      &:hover {
        color: $company-nav-active;
      }
    }

  }

  &:hover {
    & .attachment-options {
      display: block;
    }
  }
}

